.app {
  height: 100%;

  .ant-layout {
    height: 100%;
  }
  .site-layout-background {
    padding: 24px;
    min-height: 280px;
    margin: 0;
    padding: 24px;
    background: #fff;

    &.login {
      background-color: transparent;
    }
  }
}
