.letf-nav {
  .ant-menu-submenu.ant-menu-submenu-open {
    color: #ee3524;
  }

  .ant-layout-sider-trigger {
    left: 0;
  }

  .ant-menu-item {
    .anticon {
      // display: none;
    }
  }

  &.ant-layout-sider-collapsed {
    .ant-menu-item {
      .anticon {
        display: block;
      }
    }
  }
}
